<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggbz.dao.StudentDAO">
    <insert id="AddStudent" parameterType="com.ggbz.pojo.Student">
         insert into s(sno,sname,sex,age,dept) value(#{sno},#{sname},#{sex},#{age},#{dept});
    </insert>


    <delete id="DeleteStudentBySno" parameterType="String">
         delete from s where sno = #{sno};
    </delete>

    <select id="QueryStudentBySno" parameterType="String" resultType="com.ggbz.pojo.Student">
        select * from s where sno = #{sno};
    </select>

    <select id="QueryAllStudent" resultType="com.ggbz.pojo.Student">
        select * from s;
    </select>





    <select id="list" resultType="com.ggbz.pojo.Student">
        select * from s
        <where>
            <if test="sno != null and sno !=''">
                and sno = #{sno}
            </if>
            <if test="sname != null and sname !=''">
                and sname like concat('%',#{sname},'%')
            </if>
            <if test="sex != null and sex !=''">
                and sex = #{sex}
            </if>
            <if test="dept != null and dept !=''">
                and dept like concat('%',#{dept},'%')
            </if>
        </where>
    </select>

</mapper>