<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggbz.dao.StudentDAO">
    <insert id="AddStudent" parameterType="com.ggbz.pojo.Student">
         insert into s(sno,sname,sex,age,dept,lesson) value(#{sno},#{sname},#{sex},#{age},#{dept},#{lesson});
    </insert>

    <update id="UpdateStudentBySno" parameterType="com.ggbz.pojo.Student">
         update s set sname=#{sname},sex=#{sex},age=#{age},dept=#{dept},lesson=#{lesson} where sno=#{sno};
    </update>

    <delete id="DeleteStudentBySno" parameterType="String">
         delete from s where sno = #{sno};
    </delete>

    <select id="QueryStudentBySno" parameterType="String" resultType="com.ggbz.pojo.Student">
        select * from s where sno = #{sno};
    </select>

    <select id="QueryAllStudent" resultType="com.ggbz.pojo.Student">
        select * from s;
    </select>

    <select id="QueryStudentsByDeptAndLesson"  resultType="com.ggbz.pojo.Student">
        select * from s where dept = #{dept} and lesson = #{lesson};
    </select>


    <select id="QueryFlunkByCno" parameterType="String" resultType="com.ggbz.pojo.Student">
        select b.sno,b.sname,b.sex,b.age,b.dept,b.leeson from sc a,s b where a.sno = b.sno and a.cno=#{cno} and a.grade &lt; 60;
    </select>

    <select id="QueryFlunkNumberByDeptLessonCno" resultType="java.lang.Integer">
        select count(*) from s a inner join sc b on a.sno = b.sno where a.dept=#{dept} and a.lesson=#{lesson} and b.cno=#{cno} and grade &lt; 60;
    </select>
    <select id="QueryNumberByDeptLesson" resultType="java.lang.Integer">
        select count(*) from s where dept=#{dept} and lesson=#{lesson};
    </select>

</mapper>